h1 {
    font-size: 40px;
    line-height: 0.8em;
    color: rgba(255,255,255,0.2);
}
.made-with {
    background: #fd264f;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}
.documentation {
    color: #fd264f;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none; }

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    /*color: #efedef;*/
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 0.5rem 0;
    text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(65, 227, 10, 0.84);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tab-2 {
    border: 0.5px solid #f1f1f1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tab-2:hover {
    background-color: #f1f1f1;
}

.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%;
}
.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%;
}

.moduloinactivo {
    /*background-color: rgb(243 243 243 / 94%);*/
    border-top: 0.5px solid #d6eaff;
    border-left: 0.5px solid #d6eaff;
    border-right: 0.5px solid #d6eaff;

    user-select: none;
    opacity: 0.3;
    pointer-events: none; /* Opcional: deshabilita los clics en enlaces inactivos */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}

.tabs a:hover {
    color: #0c6251!important;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .tab-2 {
        width: 100%!important;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .tab-2 {
        width: 50%!important;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .tab-2 {
        width: 33%!important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .tab-2 {
        width: 25%!important;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1800px) {
    .tab-2 {
        width: 20%!important;
    }
}

@media screen and (min-width: 1800px) and (max-width: 2100px) {
    .tab-2 {
        width: 16%!important;
    }
}

@media screen and (min-width: 2100px)  {
    .tab-2 {
        width: 14%!important;
    }
}




.finalizado {
    color: #E57373;
}

.borderfinalizado {
    border-bottom: 2px solid #E57373!important;
}

.enproceso {
    color: #81C784;
}

.borderenproceso {
    border-bottom: 2px solid #81C784!important;
}

.proximamente {
    color: #90CAF9;
}

.borderproximamente {
    border-bottom: 2px solid #90CAF9!important;
}

.moduloactivo {
    background-color: #f1f1f1;
    color: #0c6251!important;
}
