DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=uteq
DB_USER=postgres
DB_PASSWORD=PPP123
DB_HOST=localhost
DB_PORT=5432

FLASK_PDF_DIR=C:\Users\Lozano\Documents\Version_Django\media\documentos

IA_DOCUMENTOS_BASE_URL=http://localhost:8000
IA_DOCUMENTOS_ANALIZAR_PATH=/api/integracion/documentos/analizar/
IA_DOCUMENTOS_TIMEOUT=120
IA_DOCUMENTOS_REINTENTO_ESPERA=300
IA_DOCUMENTOS_PORCENTAJE_TEXTO_MINIMO=80

IA_CHROMA_BASE_URL=http://localhost:8000
IA_CHROMA_GUARDAR_PATH=/api/integracion/documentos/guardar-chroma/
IA_CHROMA_QUITAR_VIGENCIA_PATH=/api/integracion/documentos/quitar-vigencia/
